[Package]
version: 1
depends: 

[Product]
type: localboot
id: dfn_freecad
name: FreeCAD
description: Open-Source-Programm für parametrische 3D-CAD-Modellierung (inkl. Modul Architektur)
advice: 
version: 0.18.16110
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_freecad (0.18.16110-1)
	* neue Upstreamversion
	* Finde automatisch Name der MSI-Datei (local function, produktversionsunabhängig)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 25.04.2019

dfn_freecad (0.17.13541-1)
	* neue Upstreamversion
	* neues o4i-Logo (opsi4institutes)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 13.09.2018

dfn_freecad (0.17.13528-1)
	* neue Upstreamversion (Bugfix)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 30.07.2018

dfn_freecad (0.17.13522-1)
	* neue Upstreamversion (Bugfix)
	* Fix für isInnoExitcodeFatal (uib_exitcode)
	* neueste Funktion Registry-Suche
	* Verwendung von getRegistryValue bzw. RegVarExists (benötigt opsi-winst 4.12.0.16)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 23.05.2018

dfn_freecad (0.17.13519-1)
	* neue Upstreamversion (Bugfix)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 25.04.2018

dfn_freecad (0.17.13509-1)
	* neue Upstreamversion
	* function getInstfileNameFromScriptPath & check ob Paketversion darin enthalten
	* function Registry-Suche
	* uib_exitcode
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 09.04.2018

dfn_freecad (0.16.6712-2)
	* Workaround für non-silent deinstallation (https://forum.freecadweb.org/viewtopic.php?f=4&t=23911)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 28.03.2018

dfn_freecad (0.16.6712-1)
	* neue Upstreamversion
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
	* Desktopicon -> Desktoplink gem. o4i-Richtlinie angepasst
	* o4i-Logo: Anzeigeaufruf nach common.opsiinc ausgelagert, eigenes Logo möglich
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.08.2017

dfn_freecad (0.16.6706-1)
	* minor update
 -- Detlef Krummel <krummel@gei.de>, 05.09.2016

dfn_freecad (0.16.6704-2)
	* kleinere Fixes
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 14.06.2016

dfn_freecad (0.16.6704-1)
	* o4i-Logo
	* Feinarbeiten für Start DFN-Paket
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 08.06.2016

dfn_freecad (0.16.6703-2)
	* neue Upstreamversion
-- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 03.05.2016

dfn_freecad (0.16.6700-1)
	* Paket erzeugt
-- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 26.04.2016




































